{% extends "base.html" %}
{% block content %}

<div class="jumbotron">
  <h2 class="text-center">Beyond. The Fitness App for Beginners.</h2>
  <p></p>
</div>

<div class="text-center">
  <p class="text-warning"> </p>
</div>

<div class="text-center">
  <hr>
  <img class="img-square">

  <h2>The Fitness World for Beginners!</h2>
  <a href="/survey" style="background-color: #FFFFFF;" class="btn btn-lg btn-success">Answer some questions</a>
  <h1></h1>
  <!-- img src="/static/images/Logo.jpg" width= "60%"-->
</div>

{% endblock %}
