{% extends "base.html" %}
{% block content %}

<div class="jumbotron">
  <h1 class="text-center">Beyond</h1>
    <p class="text-warning text-center">
      Join us on our journey to fitness.
    </p>
</div>



<form method="POST" action="/survey" style="background-color: #e8e8e8; width: 50%; position: relative; border: 25px solid transparent; margin: auto; padding: 15px; text-align: center; border-radius: 10px;">

  <h3>What is your name?</h3>
  <input type="textarea" name="name" class="form-control">

  <h3> What is your age?</h3>
  <input type="textarea" name="age" class="form-control">

  <h3> What is your weight in pounds?</h3>
  <input type="textarea" name="weight" class="form-control">

  <h3> How tall are you in inches?</h3>
  <input type="textarea" name="height" class="form-control">

  <br>

  <h3> How many days have you worked out in the past week? </h3>
  <input type="textarea" name="days" class="form-control">

  <h3> How long do you usually workout for in minutes? </h3>
  <input type="textarea" name="minutes" class="form-control">

  <h3>What is your main priority? Your legs, arms or abdominals?</h3>
  <select name='location' class="form-control text-center">
    <option>Leg Exercises</option>
    <option>Arm Exercises</option>
    <option>Abdominal Exercises</option>
  </select>

  <!-- <div class="popup" onclick="myFunction()">Click me! -->


  <!-- class="text-center" -->
  <h3>Give us some feedback:</h3>
  <textarea
      class="form-control"
      name="feedback"
      rows="4"
      style="resize: vertical;"
      cols="40"
      maxlength="140">
  </textarea>

  <br>
  <input type="submit" class="form-control">

</form>

<br><br>


{% endblock %}
