{% extends "base.html" %}
{% block content %}

<div class="jumbotron">
  <h1>Beyond</h1>
    <p class="text-warning">
      Make a review!
    </p>
</div>



<form method="POST" action="/survey" style="background-color: #e8e8e8; width: 50%; position: relative; border: 25px solid transparent; margin: auto; padding: 15px; text-align: center; border-radius: 10px;">

  <h2>What is your name?</h2>
  <input type="textarea" name="name">

  <h2> What is your age?</h2>
    <input type="textarea" name="age">

  <h2> What is your weight in pounds?</h2>
    <input type="textarea" name="weight">

  <h2> How tall are you in inches?</h2>
    <input type="textarea" name="height">

    <br>
  <h2> How many days have you worked out in the past week?
    <input type="textarea" name="days">

  <h2> How long do you usually workout for in minutes?
    <input type="textarea" name="minutes">

  <h2>What is your main priority? Your legs, arms or abdominals?</h2>
  <select name='location'>
    <option>legs</option>
    <option>arms</option>
    <option>abdominals</option>
  </select>

    <div class="popup" onclick="myFunction()">Click me!


  <!-- class="text-center" -->
  <h2>Give us some feedback:</h2>
  <textarea
      class="form-control"
      name="feedback"
      rows="4"
      style="resize: vertical;"
      cols="40"
      maxlength="140"></textarea>

  <br>
  <input type="submit">


</form>

<br><br>


{% endblock %}
