{% extends "base.html" %}
{% block content %}

<div class="jumbotron">
  <h1>Our Purpose</h1>
  <div>
    Our goal is to provide a user-friendly application aimed at beginner level workouts.
    We based our recomended exercises on a quick and user specific questionnaire which in turn
    will deliver a personalized workout regime suitable and comfortable for all our users based on their wished results.
  </div>

  <div class="jumbotron">
    <h2>Team Members:</h2>
  <p class="text-warning">
    Meet our great team!
    <br>

    <a href="gisel" class="btn btn-lg btn-info">Gisel</a>
    <img class = "img-circle" width="100" src = "static/images/member.png">

    <!-- <br> -->

    <a href="nana" class="btn btn-lg btn-info">Nana</a>
    <img class = "img-circle" width="100" src = "static/images/member.png">

    <!-- <br> -->

    <a href="darlene" class="btn btn-lg btn-info">Darlene</a>
    <img class = "img-circle" width="100" src = "static/images/member.png">

    <!-- <br> -->

    <a href="kamil" class="btn btn-lg btn-info">Kamil</a>
    <img class = "img-circle" width="100" src = "static/images/member.png">

    <!-- <br> -->

  </p>
</div>

<div class="text-center">
  <img src = "" width="200">
</div>


{% endblock %}
